.image{
    /*position:absolute;*/
    /*opacity:0.3;*/
    /*margin:50px 300px;*/
    /*float:right;*/
}

.title{
    /*text-align:center;*/
    font-family: 'Spectral SC', serif;
    background-color:red;
    margin:500px 200px;

    top:20px;
    max-width:50%;
    max-height:100px;
    
    
}
h1{
    text-align:center;
}
hr{
    color:white;
    
}
p {
    font-family: 'Cardo', serif;
    text-align:center;
    /*top:100px;*/
    /*position:relative;*/
    float:left;
    color:white;
}
body{
    background-image: url("sep11-moviebg.jpg");
}
