/* fonts to use: Spectral SC, Muli */

/*.image{
    opacity:0.6;
    position:absolute;
}*/
/*note to self, complete setup for paragraphs and positioning of image, title, other paragraphs*/
.page{
    /*background-color:#196315;*/
    /*max-height:100%;*/
    position:absolute;
    /*margin:;*/
    /*opacity:0;*/
}
.image{
    /*position:fixed;*/
    /*opacity:0.3;*/
    margin:50px 300px;
    /*float:right;*/
    
}

.title{
    text-align:center;
    font-family: 'Spectral SC', serif;
    background-color:lightgreen;
    /*margin:500px 200px;*/
    /*left:50px;*/
    top:20px;
    position:absolute;
    max-width:50%;
    max-height:100px;
    
    
}

p {
    font-family: 'Muli', sans-serif;
    text-align:left;
    top:100px;
    /*position:absolute;*/
    

    
}

